/*ejercicio5.css Grupo 01*/


agenda {background-color:#BAF086;}
contacto {background-color:#178EE6;display:block;text-position:center;margin-left:250px;margin-right:250px}
nombre, apellido,telefono,celular,direccion,email,nacimiento{color:white; display:block;margin:10px;}
fechacreacion {display:none}

