general {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    background-color:blanchedalmond;
    width: 85%;
    padding: 20px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
Estudiante {
    background-color:coral;
    margin-bottom: 35px;
    display:inline-table;
    width:auto;
    border-bottom: 3px solid #000;
}